@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 18% 6%;
    --foreground: 0 0% 98%;

    --card: 260 16% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 260 16% 10%;
    --popover-foreground: 0 0% 98%;

    /* Roxo escuro */
    --primary: 265 70% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 260 12% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 260 12% 16%;
    --muted-foreground: 260 8% 65%;

    --accent: 260 12% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    /* Azul ciano */
    --success: 189 94% 43%;
    --success-foreground: 0 0% 100%;

    /* Laranja */
    --warning: 25 95% 53%;
    --warning-foreground: 0 0% 100%;

    --border: 260 12% 20%;
    --input: 260 12% 20%;
    --ring: 265 70% 52%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv11", "ss01";
  }
}
